{% extends 'home/index.html' %}
{% load static %}
{% block titulo %}
<title>About</title>
{% endblock titulo %}
{% block tittle %}
    <h1>Acerca de mí</h1>
{% endblock tittle %}

{% block content-left %}
</div>
<p>Mi nombre es Nicolás Parrella tengo 25 años y soy desarrollador web full stack, actualmente me encuentro trabajando con Flutter</p>
{% endblock content-left %}

{% block content-right %}

  <div class="p-3" > <a href="{% url 'home:index' %}"><button class="btn btn-secondary">Volver <i class="bi bi-arrow-left-square-fill"></i></button></a></div>

{% endblock content-right %}