{% extends 'home/index.html' %}

{% block titulo %}
<title>Instagramer</title>
{% endblock titulo %}

{% block tittle %}

    <h1>Listado de Instagramer </h1>
    
{% endblock tittle %}

{% block content-left %}
    <ul class="list-group">
        {% for Instagramer in Instagramer %}
        <li class="list-group-item list-group-item-info"> {{Instagramer.nombre}}  {{Instagramer.apellido}}</li>
    {% endfor %}

    </ul>
    
{% endblock content-left %}

{% block content-right %}
    <a href="{% url 'Instagramer:crear' %}">Agregar Instagramer</a>
{% endblock content-right %}